* {
    margin: 0;
    padding: 0
}

body {
    font-size: 16px;
    background-color: #f8f8ff
}

h1 {
    font-family: Pacifico, Arial, cursive;
    color: #f8f8ff;
    text-shadow: 1px 1px #000, 1px 1px #000, 1px 1px #000, 2px 2px #000;
    margin: 0
}

h2 {
    padding: 7px;
    font-size: 1.65rem
}

.wgheading {
    text-align: left;
    padding: 10px;
    margin-top: 10px
}

h3 {
    font-size: 1.4rem;
    font-family: serif
}

h4 {
    font-family: 'Abril Fatface', Arial, sans-serif;
    text-align: center;
    font-size: 1.25rem;
    color: #2b2a2a
}

h2,
h3,
h5,
h6 {
    text-align: center
}

header {
    margin: 10px auto;
    background-color: #83941e;
    box-shadow: 0 0 15px grey;
    text-align: center;
    letter-spacing: .1rem;
    display: flex;
    justify-content: center;
    align-items: center
}

main {
    max-width: 960px;
    margin: auto
}

.motto {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    padding: 10px;
    letter-spacing: .03rem
}

.point {
    background: #7390d1;
    text-align: center;
    width: 100%;
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column
}

.active {
    background-color: rgba(0, 0, 0, .3);
    color: ghostwhite;
}

.point li:first-child {
    display: block
}

.point li {
    display: none
}

nav ul li a {
    padding: .25rem;
    display: block;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    color: #f8f8ff;
    font-family: Righteous, Arial, bold;
    letter-spacing: .1rem;
    border-top: 1px solid rgba(0, 0, 0, .3)
}

nav a:hover {
    background-color: rgba(0, 0, 0, .4);
    color: #cef4ee
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, .2);
    border: 2px #2ad4cb
}

.point a:active {
    background: #000;
    color: #fff
}

.responsive li {
    display: block
}

.intro {
    position: relative;
    margin: 5px auto;
    background-color: #eee;
    border: 1px solid #333;
    width: 98%;
    height: auto
}

.weather-summary {
    position: absolute;
    top: 10px;
    left: 30px;
    background-color: #83941e;
    color: #fff;
    text-align: center;
    font-size: .9rem;
    padding: 7px;
    min-width: 160px;
    max-width: 225px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 5px 5px 20px
}

.wstext {
    text-shadow: .6px .6px #000, .6px .6px #000, .6px .6px #000, .6px .6px #000;
    padding: 2px;
    font-size: 1.4rem;
    letter-spacing: .025rem
}

.wsbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: .25rem
}

.wsbox .left {
    text-align: right
}

.wsbox .right {
    text-align: left
}

#asideevent {
    background-color: #d2a728;
    padding: 3px 0;
    box-shadow: 2px 2px 15px grey;
    border-top: 1px solid #333
}

ul#townevents li {
    display: inline-block;
    list-style-type: none;
    padding: 0 13px 8px;
    font-family: serif
}

.h3events {
    letter-spacing: .01rem;
    padding-bottom: 7px
}

h4#homefooter {
    background-color: #2ad4cb;
    border-radius: 6px;
    box-shadow: 2px 2px 15px grey;
    padding: 10px;
    margin: 40px auto;
    width: 45%
}

.both img {
    width: 100%
}

.intro img {
    width: 100%;
    height: auto
}

.image-gal {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .25rem
}

.image-gal figure {
    padding: 5px 5px 20px;
    letter-spacing: .05rem;
    background-color: #f5f5f5;
    font-family: serif
}

.image-gal img {
    width: 100%;
    height: auto
}

.caption {
    padding-left: 5px
}

.table {
    display: none;
    position: relative;
    margin: 10px auto
}

table,
td,
th,
tr {
    border-collapse: collapse;
    border: 2px solid #000;
    padding: 7px;
    text-align: center;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .025rem;
    background-color: #c4caa2
}

td img {
    max-width: 50px
}

th {
    background-color: #83941e;
    color: #fff
}

article {
    margin: 10px 0 0 0;
    width: 100%;
    height: auto
}

.article {
    margin: 5px auto;
    text-align: left;
    padding: 15px;
    background-color: #dce4f7
}

.article img {
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 3px 5px 5px grey
}

.headline {
    text-align: left;
    margin-bottom: 3px
}

.bytag {
    font-family: Pacifico, serif;
    font-size: .9rem;
    letter-spacing: .05rem;
    margin-bottom: 3px
}

.article figure {
    float: right
}

.article figure figcaption {
    text-align: center;
    margin-bottom: 6px;
    font-family: Pacifico;
    padding-top: 8px
}

.article img {
    background-color: #7390d1
}

aside {
    color: #000;
    text-align: center;
    clear: both;
    font-weight: 700;
    width: 100%
}

aside img {
    padding: 2px 1px 5px 1px
}

.social {
    padding: 5px 5px 15px 5px;
    font-family: Pacifico, Arial, cursive;
    font-size: 1.3rem;
    letter-spacing: .05rem;
    margin: 0
}

.social img {
    padding: 3px
}

.contact {
    color: #485210;
    margin: 1px 0 0 0;
    font-size: .9rem;
    padding: 5px;
    width: 100%
}

aside.contact {
    background-color: #c4caa2
}

#map {
    background-color: #7390d1;
    align-items: center;
    padding: 5px;
    margin: 0;
    font-size: .8rem
}

footer {
    background-color: #83941e;
    text-align: center;
    font-size: .9rem;
    color: #fff;
    padding: 3px;
    width: 100%
}

#storm-main {
    width: 100%
}

.storm {
    font-size: 1rem
}

#storm-main h2 {
    background-color: #2ad4cb;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2rem 0 2rem 0;
    max-width: 15rem;
    text-align: center;
    letter-spacing: .02rem
}

h3.storm {
    letter-spacing: .025rem;
    font-size: 1.1rem;
    font-family: serif;
    padding: .5rem 1.75rem;
    margin: 2rem 0 2rem 0;
    text-align: left
}

form fieldset {
    margin: 2rem 0 2rem 0;
    border: 2px solid #7390d1;
    border-radius: 10px;
    padding: .5rem 2%;
    max-width: 30rem
}

form legend {
    color: #4d618d;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.4rem
}

form div,
form label.top {
    display: block;
    padding: 1rem;
    color: #4d618d
}

textarea {
    width: 95%
}

form label.top input,
form label.top select {
    display: block;
    font-size: 1rem;
    border: 1px solid #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, .1);
    margin-right: 5px
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555
}

label.top select {
    padding: .75rem 0;
    text-align: right
}

#ratingvalue {
    text-align: right
}

form input.s-button {
    border: none;
    font-size: 1.4rem;
    font-family: serif;
    font-weight: 700;
    background-color: #2ad4cb;
    color: #000;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 98%;
    max-width: 20rem
}

form label.top input:required {
    border-bottom: #2ad4cb dashed 3px
}

form label.top input:required:valid {
    border: #2ad4cb solid 2px
}

#thanks h1 {
    font-family: Righteous, sans-serif;
    color: #2ad4cb;
    margin: 30px 0;
    padding: 10px 0;
    text-align: center;
    letter-spacing: .035rem
}

.townp {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0 25px;
    justify-content: center;
    width: 100%
}

.townmain {
    max-width: 100%
}

.townsection {
    padding: 5px;
    margin: 0 15px 10px;
    background: #f5f5f5;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .4);
    border: 6px ridge#2ad4cb
}

.townsection ul {
    list-style: none;
    text-align: center;
    padding-bottom: 5px
}

.townh2 {
    margin: 20px 0;
    letter-spacing: .03rem
}

.townh3 {
    padding-bottom: 10px;
    letter-spacing: .025rem
}

.towndiv {
    text-align: center;
    font-size: .9rem;
    font-weight: 700
}

.townimg {
    margin: 10px 15px;
    padding: 2px;
    height: auto
}

.towncaption {
    text-align: center;
    padding: 1px 0 5px
}