@media only screen and (min-width: 22em) {
    .navrow, div.subrow {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

    }
   
   div.subbox1 {
     padding-bottom: 1em;
        width: 100%;
        height: auto;
    }
    
    div.subbox2 {
        padding-bottom: 1em;
        width: 100%;
        height: auto;
    }
    
    div.subbox3 {
        padding-bottom: 1em;
        width: 100%;
        height: auto;
    }
    
    div.subbox4 {
        padding-bottom: 1em;
        width: 100%;
        height: auto;
    }
    .table {
        display: block;
        margin: 15px 0
    }
    

}


@media only screen and (min-width: 32.5em) {
.navbar li:first-child {
    display: none;
}

.navbar li {
    display: inline-flex;
    padding: .2rem .5rem;
    letter-spacing: .01rem;
}

.navbar {
    overflow: hidden;
    flex-flow: row wrap;
    justify-content: space-around;
}
}