/* main css custom file */
* {
    margin: 0;
    padding: 0;
}

header img {
    padding: 0 20px;
}

h1 {
    font-family: 'Cinzel Decorative', Georgia, serif;
    font-size: 3rem;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #889099;
}